<div class="container">
    <h1 class="display-3">
        About page
    </h1>
    <p class="lead">
        This is a Node/Express app - just a web page that's provides service like adding New video ideas for Future Content and So on.. <3 
    </p>
    <p class="lead">
        Version 1.0.0
    </p>
</div>